@page
@model PagetechsLMS.WebAndApi.Pages.Lessons.TakeLessonModel
@{
}
<div class="mdk-header-layout__content page-content ">

    <div class="page-section bg-alt border-bottom-2">
        <div class="container page__container">

            <div class="d-flex flex-column flex-lg-row align-items-center">
                <div class="d-flex flex-column flex-md-row align-items-center flex mb-16pt mb-lg-0 text-center text-md-left">
                    <div class="avatar mb-16pt mb-md-0 mr-md-16pt">
                        <img src="/luma/images/paths/typescript_40x40@2x.png"
                             class="avatar-img rounded"
                             alt="lesson">
                    </div>
                    <div class="flex">
                        <h1 class="h2 m-0">Introduction to TypeScript</h1>
                        <div class="rating mb-8pt d-inline-flex">
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star_border</i></div>
                        </div>
                    </div>
                </div>
                <div class="ml-lg-16pt">
                    <a href="courses.html"
                       class="btn btn-light">Library</a>
                </div>
            </div>

        </div>
    </div>

    <div class="page-section border-bottom-2">
        <div class="container page__container">

            <div class="row">
                <div class="col-lg-8">

                    <div class="js-player card bg-primary embed-responsive embed-responsive-16by9 mb-24pt">
                        <div class="player embed-responsive-item">
                            <div class="player__content">
                                <div class="player__image"
                                     style="--player-image: url(/luma/images/illustration/player.svg)"></div>
                                <a href=""
                                   class="player__play bg-primary">
                                    <span class="material-icons">play_arrow</span>
                                </a>
                            </div>
                            <div class="player__embed d-none">
                                <iframe class="embed-responsive-item"
                                        src="https://player.vimeo.com/video/97243285?title=0&amp;byline=0&amp;portrait=0"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="mb-24pt">
                        <span class="chip chip-outline-secondary d-inline-flex align-items-center">
                            <i class="material-icons icon--left">schedule</i>
                            2h 46m
                        </span>
                        <span class="chip chip-outline-secondary d-inline-flex align-items-center">
                            <i class="material-icons icon--left">assessment</i>
                            Beginner
                        </span>
                    </div>

                    <p class="lead measure-lead text-70 mb-24pt">JavaScript is now used to power backends, create hybrid mobile applications, architect cloud solutions, design neural networks and even control robots. Enter TypeScript: a superset of JavaScript for scalable, secure, performant and feature-rich applications.</p>

                    <div class="d-flex align-items-center mb-heading">
                        <h4 class="m-0">Discussions</h4>
                        <a href="discussions-ask.html"
                           class="text-underline ml-auto">Ask a Question</a>
                    </div>

                    <div class="border-top">

                        <div class="list-group list-group-flush">

                            <div class="list-group-item p-3">
                                <div class="row align-items-start">
                                    <div class="col-md-3 mb-8pt mb-md-0">
                                        <div class="media align-items-center">
                                            <div class="media-left mr-12pt">
                                                <a href=""
                                                   class="avatar avatar-sm">
                                                    <!-- <img src="../../LB" alt="avatar" class="avatar-img rounded-circle"> -->
                                                    <span class="avatar-title rounded-circle">LB</span>
                                                </a>
                                            </div>
                                            <div class="d-flex flex-column media-body media-middle">
                                                <a href=""
                                                   class="card-title">Laza Bogdan</a>
                                                <small class="text-muted">2 days ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-8pt mb-md-0">
                                        <p class="mb-8pt">
                                            <a href="discussion.html"
                                               class="text-body"><strong>Using Angular HttpClientModule instead of HttpModule</strong></a>
                                        </p>

                                        <a href="discussion.html"
                                           class="chip chip-outline-secondary">Angular fundamentals</a>

                                    </div>
                                    <div class="col-auto d-flex flex-column align-items-center justify-content-center">
                                        <h5 class="m-0">1</h5>
                                        <p class="lh-1 mb-0"><small class="text-70">answers</small></p>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item p-3">
                                <div class="row align-items-start">
                                    <div class="col-md-3 mb-8pt mb-md-0">
                                        <div class="media align-items-center">
                                            <div class="media-left mr-12pt">
                                                <a href=""
                                                   class="avatar avatar-sm">
                                                    <!-- <img src="../../AC" alt="avatar" class="avatar-img rounded-circle"> -->
                                                    <span class="avatar-title rounded-circle">AC</span>
                                                </a>
                                            </div>
                                            <div class="d-flex flex-column media-body media-middle">
                                                <a href=""
                                                   class="card-title">Adam Curtis</a>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-8pt mb-md-0">
                                        <p class="mb-0">
                                            <a href="discussion.html"
                                               class="text-body"><strong>Why am I getting an error when trying to install angular/http@2.4.2</strong></a>
                                        </p>

                                    </div>
                                    <div class="col-auto d-flex flex-column align-items-center justify-content-center">
                                        <h5 class="m-0">1</h5>
                                        <p class="lh-1 mb-0"><small class="text-70">answers</small></p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <a href="discussions.html"
                       class="btn btn-outline-secondary">See all discussions for this lesson</a>

                </div>
                <div class="col-lg-4">

                    <div class="page-separator">
                        <div class="page-separator__text">Course</div>
                    </div>

                    <a href="student-course.html"
                       class="d-flex flex-nowrap mb-24pt">
                        <span class="mr-16pt">
                            <img src="/luma/images/paths/angular_64x64.png"
                                 width="40"
                                 alt="Angular"
                                 class="rounded">
                        </span>
                        <span class="flex d-flex flex-column align-items-start">
                            <span class="card-title">Angular Fundamentals</span>
                            <span class="card-subtitle text-50">16 Lessons</span>
                        </span>
                    </a>

                    <div class="page-separator">
                        <div class="page-separator__text">Author</div>
                    </div>

                    <div class="media align-items-center mb-16pt">
                        <span class="media-left mr-16pt">
                            <img src="/luma/images/people/50/guy-6.jpg"
                                 width="40"
                                 alt="avatar"
                                 class="rounded-circle">
                        </span>
                        <div class="media-body">
                            <a class="card-title m-0"
                               href="teacher-profile.html">Eddie Bryan</a>
                            <p class="text-50 lh-1 mb-0">Instructor</p>
                        </div>
                    </div>
                    <p class="text-70">Fueled by my passion for understanding the nuances of cross-cultural advertising, I consider myself a forever student, eager to both build on my academic foundations in psychology and sociology and stay in tune with the latest digital marketing strategies through continued coursework.</p>

                    <a href="teacher-profile.html"
                       class="btn btn-white mb-24pt">Follow</a>

                </div>
            </div>

        </div>
    </div>

    <div class="page-section bg-alt">
        <div class="container page__container">

            <div class="page-separator">
                <div class="page-separator__text">Feedback</div>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">

                    <div class="card card-feedback card-body">
                        <blockquote class="blockquote mb-0">
                            <p class="text-70 small mb-0">A wonderful course on how to start. Eddie beautifully conveys all essentials of a becoming a good Angular developer. Very glad to have taken this course. Thank you Eddie Bryan.</p>
                        </blockquote>
                    </div>
                    <div class="media ml-12pt">
                        <div class="media-left mr-12pt">
                            <a href="student-profile.html"
                               class="avatar avatar-sm">
                                <!-- <img src="public/images/people/110/guy-.jpg" width="40" alt="avatar" class="rounded-circle"> -->
                                <span class="avatar-title rounded-circle">UK</span>
                            </a>
                        </div>
                        <div class="media-body media-middle">
                            <a href="student-profile.html"
                               class="card-title">Umberto Kass</a>
                            <div class="rating mt-4pt">
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star_border</span></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 col-md-4">

                    <div class="card card-feedback card-body">
                        <blockquote class="blockquote mb-0">
                            <p class="text-70 small mb-0">A wonderful course on how to start. Eddie beautifully conveys all essentials of a becoming a good Angular developer. Very glad to have taken this course. Thank you Eddie Bryan.</p>
                        </blockquote>
                    </div>
                    <div class="media ml-12pt">
                        <div class="media-left mr-12pt">
                            <a href="student-profile.html"
                               class="avatar avatar-sm">
                                <!-- <img src="public/images/people/110/guy-.jpg" width="40" alt="avatar" class="rounded-circle"> -->
                                <span class="avatar-title rounded-circle">UK</span>
                            </a>
                        </div>
                        <div class="media-body media-middle">
                            <a href="student-profile.html"
                               class="card-title">Umberto Kass</a>
                            <div class="rating mt-4pt">
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star_border</span></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 col-md-4">

                    <div class="card card-feedback card-body">
                        <blockquote class="blockquote mb-0">
                            <p class="text-70 small mb-0">A wonderful course on how to start. Eddie beautifully conveys all essentials of a becoming a good Angular developer. Very glad to have taken this course. Thank you Eddie Bryan.</p>
                        </blockquote>
                    </div>
                    <div class="media ml-12pt">
                        <div class="media-left mr-12pt">
                            <a href="student-profile.html"
                               class="avatar avatar-sm">
                                <!-- <img src="public/images/people/110/guy-.jpg" width="40" alt="avatar" class="rounded-circle"> -->
                                <span class="avatar-title rounded-circle">UK</span>
                            </a>
                        </div>
                        <div class="media-body media-middle">
                            <a href="student-profile.html"
                               class="card-title">Umberto Kass</a>
                            <div class="rating mt-4pt">
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star</span></span>
                                <span class="rating__item"><span class="material-icons">star_border</span></span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
