<div class="bg-dark border-top-2 mt-auto">
    <div class="container page__container page-section d-flex flex-column">
        <p class="text-white-70 brand mb-24pt">
            <img class="brand-icon" src="/luma/images/logo/white-100@2x.png" width="30" alt="Luma"> PTLMS
        </p>
        <p class="measure-lead-max text-white-50 small mr-8pt">PTLMS(知页在线教育系统) 是一款优秀的在线教育系统，适用于企业，学校，培训机构等等</p>
        <p class="mb-8pt d-flex">
            <a href="/Common/Terms" class="text-white-70 text-underline mr-8pt small">使用条款</a>
            <a href="/Common/PrivacyPolicy" class="text-white-70 text-underline small">隐私策略</a>
        </p>
        <p class="text-50 small mt-n1 mb-0">Copyright 2019 &copy; All rights <a href="https://pagetechs.com"> Pagetechs.com</a> .</p>

    </div>
</div>