 <!-- Navbar Brand -->
<a href="/"
   class="navbar-brand mr-16pt">
    <!-- <img class="navbar-brand-icon" src="/luma/images/logo/white-100@2x.png" width="30" alt="Luma"> -->

    <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

        <span class="avatar-title rounded bg-primary">
            <img src="/luma/images/illustration/student/128/white.svg"
                 alt="logo"
                 class="img-fluid" />
        </span>

    </span>

    <span class="d-none d-lg-block">PTLMS</span>
</a>

<ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
    <li class="nav-item active">
        <a href="/"
           class="nav-link">首页</a>
    </li>
    <li class="nav-item ">
        <a href="/Courses/CourseList"
           class="nav-link">课程</a>
    </li>
    <li class="nav-item  ">
        <a href="/Discussions/DiscusstionList"
           class="nav-link  ">
            论坛
        </a>
    </li>
    <li class="nav-item dropdown">
        <a href="/Teacher/TeacherList"
           class="nav-link">师资</a>
    </li>
    <li class="nav-item">
        <a href="/Blogs/BlogList"
           class="nav-link  ">
            新闻
        </a>
    </li>
    <li class="nav-item">
        <a href="/Common/Faq"
           class="nav-link  ">FAQ</a>
    </li>
</ul>

<ul class="nav navbar-nav ml-auto mr-0">
    @if (!User.Identity.IsAuthenticated)
    {


<li class="nav-item">
    <a href="/Account/Login"
       class="nav-link"
       data-toggle="tooltip"
       data-title="Login"
       data-placement="bottom"
       data-boundary="window"><i class="material-icons">lock_open</i></a>
</li> }
            else
            {
<li class="nav-item">
    <a href="/Account/Dashboard"
       class="nav-link"
       data-toggle="tooltip"
       data-title="Login"
       data-placement="bottom"
       data-boundary="window">Hi,@User.Claims.FirstOrDefault(x=>x.Type=="nickName").Value</a>
</li>}

    <li class="nav-item">
        <a href="/Account/Signup"
           class="btn btn-outline-white">开始学习</a>
    </li>
</ul>