@page
@model PagetechsLMS.WebAndApi.Pages.Pay.PayingModel
@{
    ViewData["Title"] = "支付中";
}
<button class="btn" onclick="callpay()">支付</button>
@section Scripts{
    <script type="text/javascript">
         function onBridgeReady() {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                @Html.Raw(Model.PayData),
                function (res) {
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        // 使用以上方式判断前端返回,微信团队郑重提示：
                        //res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                    }
                });
        }
        function callpay() {
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                } else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            } else {
                onBridgeReady();
                console.log("onBridgeReady")
            }
        }

    </script>
}
