@page
@model PagetechsLMS.WebAndApi.Pages.Account.SignupModel
@{
}
<!DOCTYPE html>
<html lang="en"
      dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signup</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots"
          content="noindex">

    <!-- Preloader -->
    <link type="text/css"
          href="/luma/vendor/spinkit.css"
          rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css"
          href="/luma/vendor/perfect-scrollbar.css"
          rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css"
          href="/luma/css/material-icons.css"
          rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css"
          href="/luma/css/fontawesome.css"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="/luma/css/preloader.css"
          rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css"
          href="/luma/css/app.css"
          rel="stylesheet">

</head>

<body class="layout-default layout-login-centered-boxed">

    <div class="layout-login-centered-boxed__form card">
        <div class="d-flex flex-column justify-content-center align-items-center mt-2 mb-5 navbar-light">
            <a href="/"
               class="navbar-brand flex-column mb-2 align-items-center mr-0"
               style="min-width: 0">

                <span class="avatar avatar-sm navbar-brand-icon mr-0">

                    <span class="avatar-title rounded bg-primary">
                        <img src="/luma/images/illustration/student/128/white.svg"
                             alt="logo"
                             class="img-fluid" />
                    </span>

                </span>

                Luma
            </a>
            <p class="m-0">Create a new Luma account</p>
        </div>

        <a href="/"
           class="btn btn-light btn-block mb-24pt">
            <span class="fab fa-google icon--left"></span>
            Continue with Google
        </a>

        <div class="page-separator justify-content-center">
            <div class="page-separator__text bg-white">or</div>
        </div>

        <form method="post" novalidate>
            <div class="form-group">
                <label class="text-label"
                       for="name_2">Name:</label>
                <div class="input-group input-group-merge">
                    <input id="name_2"
                           type="text"
                           required=""
                           class="form-control form-control-prepended"
                           placeholder="John Doe">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="far fa-user"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="text-label"
                       for="email_2">Email Address:</label>
                <div class="input-group input-group-merge">
                    <input id="email_2"
                           type="email"
                           required=""
                           class="form-control form-control-prepended"
                           placeholder="john@doe.com">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="far fa-envelope"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="text-label"
                       for="password_2">Password:</label>
                <div class="input-group input-group-merge">
                    <input id="password_2"
                           type="password"
                           required=""
                           class="form-control form-control-prepended"
                           placeholder="Enter your password">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="far fa-key"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                           checked=""
                           class="custom-control-input"
                           id="terms" />
                    <label class="custom-control-label"
                           for="terms">I accept <a href="#">Terms and Conditions</a></label>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary mb-2"
                        type="submit">
                    Create Account
                </button><br>
                <a class="text-body text-underline"
                   href="login.html">Have an account? Login</a>
            </div>
        </form>
    </div>

    <!-- jQuery -->
    <script src="/luma/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="/luma/vendor/popper.min.js"></script>
    <script src="/luma/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="/luma/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="/luma/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="/luma/vendor/material-design-kit.js"></script>

    <!-- App JS -->
    <script src="/luma/js/app.js"></script>

    <!-- Preloader -->
    <script src="/luma/js/preloader.js"></script>

</body>

</html>